<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <div class="card-body-perfil">
                <h5 class="card-title">
                    Sobre mí
                </h5>
                <p class="card-text">{{miPortfolio.persona.sobremi}}
                </p>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-2">
                    <div class="card-text">
                        <div class="item-card">
                            <img class="item-imagen" [src]="miPortfolio.educacion.imagen1">
                        </div>
                    </div>
                </div>
                <div class="col-10">
                    <h5 class="card-title">{{miPortfolio.educacion.institucion1}}
                    </h5>
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <div class="card-text">
                        <div class="item-card">
                            <img class="item-imagen" [src]="miPortfolio.educacion.imagen2">
                        </div>
                    </div>
                </div>
                <div class="col-10">
                    <h5 class="card-title">{{miPortfolio.educacion.institucion2}}
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>