<section>
    <div class="container-fluid"> 
        <h5 class="card-title">Formación Académica</h5>       
        <div *ngFor="let educacion of listaEducacion">
            <div class="row">
                <div class="col-3">
                    <div class="institucion-card">
                        <a [hreflang]="educacion.link">
                            <img class="institucion-imagen" [src]="educacion.imagen">
                        </a>
                    </div>
                </div>
                <div class="col-9">
                    <div class="card-title">
                        <h5>{{educacion.institucion}}</h5>
                    </div>
                    <div class="card-text">
                        <p>{{educacion.titulo}}</p>
                        <small>{{educacion.inicio}} {{educacion.fin}}</small>
                    </div>           
                </div>
            </div>        
        </div>
    </div>
</section>